.header {
  height: 50px;
  background-color: #FFF;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #AE1332;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}
.logo::before {
  content: "";
  display: block;
  background-image: url("/img/svg/logo.svg#svg-logo");
  height: 16px;
  width: 16px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 335px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-inline: 20px;
  row-gap: 80px;
}

* {
  margin: 0;
}

body {
  font-family: "DM Sans";
}

main {
  background-color: #AE1332;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.page-header .container {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  display: none;
  list-style: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container > .container {
  width: 78px;
  height: 126px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #AE1332;
}

.menu-toggle {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.menu-svg {
  max-width: 20px;
  max-height: 14px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.menu-link {
  font-size: 40px;
  line-height: 46.88px;
  letter-spacing: 0.02em;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #FFF;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  z-index: 1;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  background-color: #FFF;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
}

.cross {
  width: 11px;
  height: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-title {
  font-size: 20px;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-label {
  height: 58px;
  display: block;
  position: relative;
}

.comment-label {
  height: 141px;
}

.modal-icon-div {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 11px;
  left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 11px;
  bottom: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.form-text {
  margin-bottom: 4px;
}

.form-input {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 4px;
  padding: 0;
  padding-left: 41px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.comment {
  width: 100%;
  height: 120px;
  padding: 0;
  resize: none;
  border: 1px solid;
  padding: 13px 0 0 16px;
}

.contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}

.contract-text {
  margin-left: 8px;
}

.contract-link {
  position: relative;
}

.send-button {
  margin: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 612px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 103px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 335px;
  height: 118px;
  color: #FFF;
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 50px;
}

.hero-img {
  border-radius: 500px;
  position: relative;
}

.button-shop {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-transform: uppercase;
  border-radius: 50%;
  border: none;
  background-color: #FFF;
  position: absolute;
  height: 114px;
  width: 114px;
  color: #AE1332;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(-14deg);
          transform: translate(-50%) rotate(-14deg);
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFF;
  width: 279px;
}

.preview-fruit {
  width: 249px;
  height: 387px;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preview-fruit:nth-child(2) {
  background-color: #A4CB66;
}
.preview-fruit:nth-child(2) .preview-img {
  margin: 61px 0 2px 0;
}
.preview-fruit:nth-child(2) .preview-description {
  width: 150px;
}
.preview-fruit:nth-child(4) {
  background-color: #F5CE13;
}
.preview-fruit:nth-child(4) .preview-img {
  margin: 19px 0 17px 0;
}
.preview-fruit:nth-child(4) .preview-description {
  width: 163px;
}

.preview-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFF;
  text-align: center;
}

.preview-title {
  margin-top: 28px;
}

.preview-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}

.hashtag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.hashtag-item {
  width: 125px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hashtag {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #FFF;
}

.order-guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-title, .order-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

.order-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  height: 90px;
  text-transform: none;
}

.step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step-item {
  width: 335px;
  height: 112px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  padding-inline: 20px;
}
.step-item:nth-child(2) .step-number {
  background-color: #A4CB66;
}
.step-item:nth-child(3) .step-number {
  background-color: #F5CE13;
}

.step-number {
  width: 136px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #AE1332;
  border-radius: 30px;
  color: white;
}

.step-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 145px;
}

.gif-container {
  width: 335px;
  height: 476px;
  background-image: url(/img/blueberry.gif);
  background-position: 35%;
  border-radius: 20px;
}

.assortment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}

.organic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.organic-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFF;
  text-align: center;
}

.organic-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFF;
}

.fruit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 14px;
}

.fruit-item {
  width: 335px;
  height: 465px;
  border-radius: 20px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1279px) {
  .fruit-item:nth-child(n+7) {
    display: none;
  }
}

.fruit-list .fruit-item:nth-child(1) {
  background-color: #F8766B;
}

.fruit-list .fruit-item:nth-child(2) {
  background-color: #EDD251;
}

.fruit-list .fruit-item:nth-child(3) {
  background-color: #9DC262;
}

.fruit-list .fruit-item:nth-child(4) {
  background-color: #BFD663;
}

.fruit-list .fruit-item:nth-child(5) {
  background-color: #E93F29;
}

.fruit-list .fruit-item:nth-child(6) {
  background-color: #DB4F4B;
}

.fruit-list .fruit-item:nth-child(7) {
  background-color: #9B5366;
}

.fruit-list .fruit-item:nth-child(8) {
  background-color: #F47F4C;
}

.fruit-list .fruit-item:nth-child(9) {
  background-color: #98B37E;
}

.fruit-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFF;
  margin-right: 4px;
  margin-bottom: 8px;
}

.plant {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFF;
  margin-right: 4px;
}

.fruit-img {
  width: 295px;
  height: 251px;
  margin: 4px 0 26px 0;
}

.cta-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 126px;
  border-radius: 200px;
  height: 42px;
  padding: 12px 24px;
  border: none;
  color: #AE1332;
}

.order-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  border: none;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
  color: #FFF;
  background-color: #A4CB66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6px;
  position: relative;
}
.order-text::before {
  content: "";
  background-image: url(/img/svg/arrov.svg);
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  left: -18px;
}/*# sourceMappingURL=styles.css.map */