.page-header .container {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container > .container {
  width: 78px;
  height: 126px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #AE1332;
}

.menu-toggle {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container .menu-toggle {
  position: absolute;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.menu-link {
  font-size: 40px;
  line-height: 46.88px;
  letter-spacing: 0.02em;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #FFF;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  z-index: 1;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  background-color: #FFF;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
}

.cross {
  width: 11px;
  height: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-title {
  font-size: 20px;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-label {
  height: 58px;
  display: block;
  position: relative;
}

.comment-label {
  height: 141px;
}

.modal-icon-div {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 11px;
  left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 11px;
  bottom: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.form-text {
  margin-bottom: 4px;
}

.form-input {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 4px;
  padding: 0;
  padding-left: 41px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.comment {
  width: 100%;
  height: 120px;
  padding: 0;
  resize: none;
  border: 1px solid;
  padding: 13px 0 0 16px;
}

.contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}

.contract-text {
  margin-left: 8px;
}

.contract-link {
  margin: 0;
  position: relative;
}

.send-button {
  margin: auto;
}/*# sourceMappingURL=styles.css.map */