// глобальні селектори ті які є в деяких категоріях
.container{
    display: flex;  justify-content: center;
    flex-direction: column;  align-items: center;
    min-width: 335px;  height: max-content;
    padding-inline: 20px;  row-gap: 80px;
}
*{
    margin: 0;
}
body{
    font-family: "DM Sans";
}
main{
    background-color: $red;
}
ul{
    list-style-type: none;  padding-inline-start: 0;
}