// від .hero до .preview
.hero{
    display: flex;  height: 612px;
    position: relative;  justify-content: center;
    padding-top: 103px;
}
.hero-title{
    @include title(500,28px,28px);
    width: 335px;  height: 118px;
    color: $white;  z-index: 1;
    position: absolute;  text-transform: uppercase;
    text-align: center;  margin: 0;
    top: 50px;
}
.hero-img{
    border-radius: 500px;
    position: relative;
}
.button-shop{
    @include text(500,28px,28px);  text-transform: uppercase;
    border-radius: 50%;  border: none;
    background-color: $white;  position: absolute;
    height: 114px;  width: 114px;
    color: $red;  bottom: -27px;
    left: 50%;
    transform: translate(-50%) rotate(-14deg);
}
.preview{
    display: flex;  flex-direction: column;
    row-gap: 43px;  align-items: center;
}
.preview-text{
    @include text;
    color: $white;
    width: 279px;
    margin: 0;
}
.fruit-preview{
    width: 249px;  height: 387px;
    border-radius: 500px;  display: flex;
    background-color: $green;
    align-items: center;  flex-direction: column;
    &:nth-child(2){
        .fruit-img{
            margin: 61px 0 2px 0;
        }
        .fruit-description{
            width: 150px;
        }
    }
    &:nth-child(4){
        background-color: $yellow;
        .fruit-img{
            margin: 19px 0 17px 0;
        }
        .fruit-description{
            width: 163px;
        }
    }
}
.fruit-title{
    @include text(400,12px,14px);
    color: $white;  margin: 0;
    text-align: center;
}
.fruit-title{
    margin-top: 28px;
}
.fruit-description{
    @include text(500,12px,14px);
    color: $white;  margin: 0;
    text-align: center;  text-transform: uppercase;
}

.hashtag-list{
    display: flex;  flex-direction: row;
    flex-wrap: wrap;  justify-content: center;
    align-items: center;  gap: 8px;
    margin: 0;
}
.hashtag-item{
    width: 125px;  height: 38px;
    border-radius: 20px;  border: 1px solid $white;
    display: flex;  align-items: center;
    justify-content: center;
}
.hashtag{
    @include text(500, 12px, 14px);
    text-transform: uppercase;
    color: $white;
}