// від .hero до .preview
.hero{
    display: flex;  height: 612px;
    position: relative;  justify-content: center;
    padding-top: 103px;
}
.hero-title{
    @include title(500,28px,28px);
    width: 335px;  height: 118px;
    color: $white;  z-index: 1;
    position: absolute;  text-transform: uppercase;
    text-align: center;  
    top: 50px;
}
.hero-img{
    border-radius: 500px;
    position: relative;
}
.hero-img-border{
    position: relative;
    padding: 20px; /* Відступи для контенту */
    z-index: 1; /* Піднімемо елемент над псевдоелементом */
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -10px;
        z-index: -1; 
        border-radius: 500px;
        background: 
            linear-gradient(
                359.94deg, #FFFFFF -1.7%, 
                rgba(255, 255, 255, 0.441769) 30.64%, 
                rgba(255, 255, 255, 0) 76.92%);
    }
}
.button-shop{
    @include text(500,28px,28px);  text-transform: uppercase;
    border-radius: 50%;  border: none;
    background-color: $white;  position: absolute;
    height: 114px;  width: 114px;
    color: $red;  bottom: -27px;
    left: 50%;
    transform: translate(-50%) rotate(-14deg);
    z-index: 1;
}
.preview{
    display: flex;  flex-direction: column;
    row-gap: 43px;  align-items: center;
}
.preview-text{
    @include text;
    color: $white;
    width: 279px;
    
}
.preview-fruit{
    width: 249px;  height: 387px;
    border-radius: 500px;  display: flex;
    align-items: center;  flex-direction: column;
    &:nth-child(2){
        background-color: $green;
        .preview-img{
            margin: 61px 0 2px 0;
        }
        .preview-description{
            width: 150px;
        }
    }
    &:nth-child(4){
        background-color: $yellow;
        .preview-img{
            margin: 19px 0 17px 0;
        }
        .preview-description{
            width: 163px;
        }
    }
}
.preview-title{
    @include text(400,12px,14px);
    color: $white;  
    text-align: center;
}
.preview-title{
    margin-top: 28px;
}
.preview-description{
    @include text(500,12px,14px);
    color: $white;  
    text-align: center;  text-transform: uppercase;
}

.hashtag-list{
    display: flex;  flex-direction: row;
    flex-wrap: wrap;  justify-content: center;
    align-items: center;  gap: 8px;
    
}
.hashtag-item{
    width: 125px;  height: 38px;
    border-radius: 20px;  border: 1px solid $white;
    display: flex;  align-items: center;
    justify-content: center;
}
.hashtag{
    @include text(500, 12px, 14px);
    text-transform: uppercase;
    color: $white;
}