// мобільне меню
.page-header .container {  
    min-height: 50px;
    display: flex;  align-items: center;
    justify-content: flex-end;
}
.menu{
    display: none;  list-style: none;
}
.menu-container {
    position: fixed;  top: 0;
    left: 0;  width: 100vw;
    height: 100vh;
    z-index: 999;
    transform: translateX(100%);
}
.menu-container.is-open {
    transform: translateX(0);
    background-color: $red;
}
.menu-toggle {
    height: 24px;  width: 24px;
    display: flex;  align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;  border: none;
}
.menu-svg{
    max-width: 20px;
    max-height: 14px;
    fill: $red;
}
.menu-decoration{
    fill: $red;
}
.mobile-menu{
    display: flex;
    flex-direction: column;  align-items: center;
    row-gap: 16px;  justify-content: center;
    margin-top: 124px; 
}
.menu-link{
    @include text(400,14px,18px);
    color: $white;
}
.market-button{
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}