// .header
.header{
    height: 50px;
    background-color: $white;
    align-content: center;
}
.navbar{
    display: flex;  justify-content: space-between;
    align-items: center;  width: 100%;
    height: 100%;
}
.logo{
    @include text(700);
    height: 18px;  align-items: center;
    text-transform: uppercase;
    color: $red;
    display: flex;  column-gap: 9px;
    &::before{
        content: "";  display: block;
        background-image: url("/img/svg/logo.svg#svg-logo");
        height: 16px;  width: 16px;
    }
}